/*------------------------------This is Body----------------------*/
body{
    text-align: center;

}
/*------------------------------This is Main----------------------*/
main{
    display: flex;
}
/*------------------------------This is Image----------------------*/
.image img{
    width: 80%;
    height: 80%;
    margin-top: 80px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px gray;
}
/*------------------------------This is Right Part----------------------*/
.heading-message{
    margin: auto;
    background-color: aqua;
    width: 25%;
    border-radius: 20px;
    box-shadow: 10px 5px 5px gray;

}
.right-part{
    margin: auto;
    width: 30%;
    background-color: aqua;
    border-radius: 20px;
    box-shadow: 10px 10px 5px gray;
}
/*------------------------------This is Right Part Heading----------------------*/
.monthly-income{
    font-size: 30px;
    border-bottom:2px solid rgb(231, 84, 58);
}
.font{
    font-size: 19px;
}
/*------------------------------This is Calculate Button----------------------*/
#click-calculate{
    padding: 10px;
    border-radius: 10px;
    background-color: yellow;
    width: 100px;
}
/*------------------------------This is Save Button----------------------*/
#click-save{
    padding: 10px;
    border-radius: 10px;
    background-color: yellow;
    width: 100px;
}
/*------------------------------This is Reset Button----------------------*/
#click-reset{
    padding: 10px;
    border-radius: 10px;
    background-color: yellow;
    width: 100px;
}

/*-------------------------Resposive mobile device------------------------- */
@media only screen and (max-width: 600px) {
    main{
        display: block;
        text-align: center;
    }
    .right-part{
        margin: auto;
        width: 80%;
        background-color: aqua;
        border-radius: 10px;
        box-shadow: 10px 10px 5px gray;
  }
  .heading-message{
    margin: auto;
    background-color: aqua;
    width: 75%;
    border-radius: 20px;
    box-shadow: 10px 5px 5px gray;
}
}